/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}

/* Header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 3px #9d9d9d;
  background-color: #ccc;
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #030c8fc7;
}

.two_columns {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.one_column {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.two_columns > .chart_box {
  width: 50%;
  text-align: center;
}
.one_column > .chart_box {
  text-align: center;
}
.box {
  box-shadow: 0 1px 3px #9d9d9d;
  margin: 10px;
}

.chart_box {
  border-radius: 5px;
}

.total_chart_date {
  border: 1px solid #ccc;
  color: #afa5a5;
  margin-top: 20px;
  text-align: left;
  border-right: none;
  border-left: none;
}

.total_data_box {
  background-color: #0fc3ff;
  width: 18rem;
  border-radius: 5px;
  margin: 0 auto;
  height: 5rem;
  padding-top: 20px;
  display: grid;
  font-size: larger;
  margin-top: 20px;
}
